@model Ljusbolagetsyd.Models.ContactFormViewModel

<fieldset>
	<legend style="color: #fff;">Kontaktformulär</legend>
	@using (Html.BeginForm("ContactForm","Home", FormMethod.Post)) 
	{
		@Html.AntiForgeryToken()
    
		<div class="form-horizontal">
			@Html.ValidationSummary(true)

			<div class="form-group">
				@Html.LabelFor(model => model.Name, "Namn", new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Name)
					@Html.ValidationMessageFor(model => model.Name)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Phonenumber,"Telefonnummer",new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Phonenumber)
					@Html.ValidationMessageFor(model => model.Phonenumber)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Email)
					@Html.ValidationMessageFor(model => model.Email)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.MessageText,"Meddelande", new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.MessageText)
					@Html.ValidationMessageFor(model => model.MessageText)
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Skicka" class="btn btn-default" />
				</div>
			</div>
		</div>
	}
</fieldset>
